<div class="modal fade" id="invite-modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content" style="padding: 10px;">

      <div class="container">
        <div class="row">
          <span id="wants-to-play-msg"></span>
        </div>
        <div class="row">
          <div class="col col-xs-6">
            <button class="btn btn-success" id="accept-btn" onclick="acceptInvite()">Accept</button>
            <button class="btn btn-danger" id="reject-btn" onclick="rejectInvite()">Reject</button>
          </div>
          <!-- <div class="col col-xs-6">

          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>