<div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content" style="padding: 10px;">
      
      <div class="container">
        <h2>Rock Paper Scissor</h2>
        <form>
          <div class="form-group" style="padding-bottom: 10px;">
            <label for="uname">Please enter your username:</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="uname" required>
            <div class="invalid-feedback" id="invalid-username-msg">username is required</div>
          </div>
          <a class="btn btn-primary disabled" id="submit-btn" onclick="submitUserName()">Submit</a>
        </form>
      </div>
    </div>
  </div>
</div>