<%- include('partials/header.ejs') %>

<body class="bodyBgColor" onload="askUserName()">
<span class="topRight" id="username">
  Unavailable
</span>
<%- include('partials/users_list.ejs') %>
<%- include('partials/score.ejs') %>
<%- include('partials/footer.ejs') %>